#layout-container .logo {
    width: 120px;
    height: 31px;
    margin: 8px 24px 15px 0;
    float: left;
}

#logo-image {
    vertical-align: unset;
    width: 130px;
    height: 50px;
}

.review-section {
    margin-bottom: 14px;
}